<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Enthusiastic graduate of Potsdam University with a strong interest in data and visualizations, especially in a geographic context. Maps are universally understood and can provide a huge benefit in giving solutions for problems.
	Capable of finding solutions for complex problems in a geographic context and presenting the results to a specific target group.
	Experienced in working with and visualizing both statistical and geographic data.</p>
</div><!--//summary-->
</section><!--//section-->