 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Geoinformation Science and Visualization</h4>
    <h5 class="meta">University of Potsdam</h5>
    <div class="time">10/2011 - 05/2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Geography</h4>
    <h5 class="meta">University of Leipzig</h5>
    <div class="time">10/2008 - 09/2011</div>
</div><!--//item-->
</div><!--//education-container-->