<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Freelance</h3>
                            <div class="time">05/2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Johanssen + Kretschmer Strategic Communications, Berlin</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research, processing and presentation of neighborhood composition </p>  
                        <p>Data-based mapping of relevant stakeholders for power grid expansions</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Academic Staff</h3>
                            <div class="time">07/2015 - 04/2017</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Potsdam, Potsdam</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Teaching "GIS - Methods and Techniques" and "Remote Sensing" for students in courses "Geoecology" and "Geography teaching"</p>
                        <p>Teaching "Spatial analysis" for Master students in course "Geoinformation Science and Visualization"</p>
                        <p>Supervision of students' projects and Master theses</p>
                        <p>Administrative taks at the Master studies "Geoinformation Science and Visualization"</p>
                        <p>Administration of client/server infrastructure for students and staff</p>
                        <p>Co-management and succesful completion of the project "Easy Going" - Conceptual design and development of a pedestrian navigation system, supported by the BMBF</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">04/2013 - 09/2015</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Potsdam, Potsdam</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Tutorials "Introduction to GIS"</p>
                        <p>Teaching "GIS - Methods and techniques" for students in courses "Geoecology" and "Geography teaching"</p>
                        <p>Participation in the project "Easy Going" - Conceptual design and development of a pedestrian navigation system</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student Research Assistant</h3>
                            <div class="time">04/2012 - 04/2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Helmholtz Centre Potsdam GFZ German Research Centre for Geosciences, Potsdam</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Creating a database of flood events</p>
                        <p>Evaluation of "Street View" data for the use of flood risk assessment</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Student Assistant</h3>
                            <div class="time">10/2010 - 08/2011</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Leipzig, Leipzig</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Tutorials in spatial statistics</p>
                        <p>Tutorials "Introduction to geographic information science"</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">06/2010 - 08/2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Nature park Niederlausitzer Heidelandschaft, Bad Liebenwerda</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Design, qualification and publication of cycling tours</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">04/2004 - 07/2004</div>
                        </div><!--//upper-row-->
                        <div class="company">German Meteorolocigal Office (DWD), Leipzig</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Intern at different positions</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->