<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Some of the projects I worked on are listed below.</p>
                </div><!--//intro-->
                
                <div class="item">
                    <span class="project-title"><a href="https://kuntzsch.me/maps/fast-food-discounter-deutschland" target="_blank">Fast food and supermarket density in Germany</a></span> - <span class="project-tagline">Mapping the density of fast food joints and supermarket locations for each municipality in Germany using leaflet.js</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://deegge.github.io/master-presentation/template.html#1" target="_blank">Master's project</a></span> - <span class="project-tagline">Conceptual design and implementation of a multimodal trip planner using the example of the University of Potsdam – Possibilities and limitations using Open Source software and free data</span>
                </div><!--//item-->
            </section><!--//section-->